{% extends 'base.html' %}
{% block content %}
       <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              “One cannot think well, love well, sleep well, if one has not dined well.”
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Virginia Woolf</a></p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.
            </h2>
            
          </a>
          <p class="post-meta">Posted by
            <a href="#">Ruth Reichl</a></p>
        </div>
        <hr>
        
        <hr>
        <!-- Pager -->
      
      </div>
    </div>
       
{% endblock %}
