{% extends 'base.html' %}
{% block content %}
    <p>Indian cuisine consists of a variety of regional and traditional cuisines native to the Indian subcontinent. 
    Given the diversity in soil, climate, culture, ethnic groups, and occupations, 
    these cuisines vary substantially and use locally available spices, herbs, vegetables, and fruits. 
    Indian food is also heavily influenced by religion, in particular Hinduism, cultural choices and traditions. 
    The cuisine is also influenced by centuries of Islamic rule, particularly the Mughal rule. 
    Samosas and pilafs are examples.</p>
    <h2>Recipies we Master</h2>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Break Fast</h3>
            <p>The dishes are light on the stomach, filling and give you enough proteins, 
            carbs and fats to jump start your day in a great way. 
            The recipes are a mix of rice & lentils and served with spicy, tangy sides like chutneys, 
            sambar (a lentil based soup) and so on. 
            Some dishes include: Idli, Dosa, Upma, Idiyappam</p>
        </div>
        <div class="col-md-5"> 
            <img src="static/img/breakfast.png" style="width: 300px;height: 300px;"/>
        </div>
    </div>
    <div class="row featurette">
      <div class="col-md-5"> 
            <img src="static/img/lunch thali.jpg" style="width: 300px; height: 300px;"/>
        </div>
        <div class="col-md-7">
            <h3>Veg Thali</h3>
            <p>Thali the meal refers to many different dishes (both vegetarian and non-vegetarian), 
            served in small bowls called (Katori in Hindi) arranged on a Thali, or a platter. 
            A flatbread, rice, pickle, salad, and dessert are also included, as is bread (like chapatis).</p>
        </div>
    </div>
     <div class="row featurette">
        <div class="col-md-7">
            <h3>Chicken Biryani</h3>
            <p>Our The method of cooking makes hyderabadi biryani unique and delicious. potli masala (mixture of different masalas) makes it so special and spicy and layering of basmati rice and nonveg pieces adds to the taste
             and covering the lid with dough helps in boiling evenly and it is a blend of Mughlai and Telugu cuisine.</p>
        </div>
        <div class="col-md-5"> 
            <img src="static/img/hyderabadi-chicken-biryani.jpg" style="width: 300px;height: 300px;"/>
        </div>
    </div>
        <div class="row featurette">
      <div class="col-md-5"> 
            <img src="static/img/Chicken curry.jpg" style="width: 300px;height: 300px;"/>
        </div>
        <div class="col-md-7">
            <h3>Natu Kodi Pulusu</h3>
            <p>Natu kodi kura is a delicious and spicy Andhra chicken curry made with a Guntur chilli spice mix and a hint of coconut.
            Naatu kodi pulusu or country chicken curry tastes good when served with hot rice or Rotis.</p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Fish Fry</h3>
            <p>flavorful shallow fried sea food recipe with fish made by adding basic dry spices and this fried fish can be used as a starter.</p>
        </div>
        <div class="col-md-5"> 
            <img src="static/img/fish-fry.jpg" style="width: 300px; height: 300px;"/>
        </div>
    </div>
{% endblock %}
